# {{ ansible_managed }}

ExtendedStatus On
<VirtualHost *:80>
        
        ServerName {{ ansible_host }}
        ServerAlias 127.0.0.1 localhost
        DocumentRoot /var/www/html

        <Directory /var/www/html>
                AllowOverride none
                Order Allow,Deny
                Allow from all
        </Directory>

        <Location /server-status>
                SetHandler server-status
        {% for ip in httpd_require_ips %}
        Require ip {{ ip }}
        {% endfor %}
        
        </Location>
</VirtualHost>